* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header .logo h1 {
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 1.5rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header .cart a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {


    center/cover;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.cta-button {
  background-color: #ff6347;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.products {
  margin: 2rem;
  text-align: center;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.product-list {
  display: flex;
  justify-content: space-around;
}

.product {
  background-color: rgba(244, 231, 231, 0.3); 
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 300px;
  box-shadow: 10px 5px 5px black;
  border-radius: 30px;}


.product img {
  max-width: 100%;
  border-radius: 5px;
}

.product h3 {
  margin: 1rem 0;
}

.product p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.product button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}
